.gridbox{
    display: grid;
    grid-template-columns: auto auto auto;
}
.box1{
    width: 500px;
    margin-top: 50px;
}
.ams-img{
    width: 600px;
    height: 400px;

}
.wo-img{
    width: 150px;
    height: 100px;
}
.box3 img{
    width: 200px;
    height:150px;
    margin-right: 50px;
}
.box2 {
    margin-top: 20px;
}
.box3{
    margin-top: 20px;

}

.box4 img{
    width: 200px;
    height: 150px;   
}

span{
    color:rgb(209, 14, 138);
}

.box-logo p{
    display: inline-block;
}
.box-logo img{
    width: 110px;
    height: 60px;

}

@media only screen and(max-width:400px)
{
    .gridbox, .box1, .box2, .box3, .box4{
        width: 400px;
        height: fit-content;


    }
    .box-logo{
        width: 400px;
        height: fit-content;

    }
    .linkbox{
        width: 400px;
        height: 400px;

    }
}

