*{
    margin:0;
    padding: 0;
}
.divheader{
    position: relative;


}

.imgpos{
    width: 300px;
    height: 100px;
    margin:0 auto;
    position: relative;
    left:40%;
    display: inline-block;
    background-position: center;
}


.searchbox{

    margin: auto;
    background-color: rgb(223, 221, 221);
    margin-top: 20px;
    width: auto;
    height: 100px;
    display: block;
    text-align: center;
    border:2px solid white;

}

.leftdiv{
    background-color: rgb(49, 219, 219);
    width: 300px;
    height:100px;
    float: left;
    width: 40%;
    text-align: center;
    border:2px solid white;
}
.middiv{
    background-color: rgb(43, 178, 188);
    width: 300px;
    height: 100px;
    float:left;
    width:19%;
    text-align: center;
    border:2px solid white;

}
.rightdiv{
    background-color: rgba(11, 129, 150, 0.841);
    width: 300px;
    height: 100px;
    float: left;
    width:40%;
    text-align: center;
    border:2px solid white;
}
.footercopy{
    margin: auto;
    text-align: center;
}
a{
    margin: auto;
}